@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 300;
  /* 300 */
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 400;
  /* 400 */
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 500;
  /* 500 */
  src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: 600;
  /* 600 */
  src: url("./fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 700;
  /* 700 */
  src: url("./fonts/Poppins-Bold.ttf");
}
